/**
 * Defines a style for genome configs overview page
 * Styles main table and title
 */
.main.container > .row {
  margin-bottom: 15px !important;
}

/**
 * Defines a style for genome configurations table
 */
#genome-configs .update-status,
#genome-configs .update-status:hover {
  color: inherit;
  text-decoration: none;
  cursor: default;
}
/* Row with successful update */
#genome-configs .update-success {
  color: #007bff !important;
  opacity: .65;
}
/* Row to be deleted */
#genome-configs .update-alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  text-align: right;
}
#genome-configs .update-alert-danger .cancel {
  color: #721c24;
  font-weight: bold;
}
#genome-configs .update-alert-danger .delete {
  color: #dc3545 !important;
  font-weight: bold;
}

/**
 * Defines a style for loader
 */
.loader {
  display: inline-block;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #007bff; /* Primary */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}
/* Animation */
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}
