html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

nav.navbar {
  background-color: #fff;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

table.table {
  background-color: white;
}
