/*
  CSS stylesheet for configuration page (/appView/Pages/configuration.ctp)
*/
.container.main {
  display: none;
  padding-top: 56px;
  padding-bottom: 69px;
  margin-top: 0px;
  margin-bottom: 0px;
}
div.section,
form.section {
  display: block;
  /* border: 1px solid black; */
}
.section-title, .section-item {
  display: block;
  margin-bottom: 15px;
}
.section-title {
  margin-top: 15px;
}

/*
  Styling of ace editor in config form
*/
.ace-editor {
  position: relative;
  height: auto;
  /*
    min height should be set congruently to minimum number of lines set in ace editor
    this way, loading ace editor will not result in page flickering and/or auto-scrolling
  */
  min-height: 435px;
}

/*
  Styling of image preview
  NOTE: position relative is required
*/
.thumbnail {
  position: relative;
  margin-bottom: .5rem;
  width: 155px;
  height: 155px;
}
.thumbnail > * {
  border-radius: inherit;
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
}

/*
  Custom form validation colors
  Uses bootstrap colors to highlight errors forms
*/
.section-item.error input,
.section-item.error textarea {
  border-color: #dc3545;
}
.section-item.error input:focus,
.section-item.error textarea:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.section-item.warning input,
.section-item.warning textarea {
  border-color: #ffc107;
}
.section-item.warning input:focus,
.section-item.warning textarea:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

/*
* <small> is set to be displayed as block to force newline
*/
.section-item small {
  display: block !important;
}

.species-name-hint {
  text-decoration: underline;
}
