html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

table.table {
  background-color: white;
}

nav.navbar {
  background-color: #fff;
}
nav.navbar.navbar-bottom {
  -webkit-box-shadow: 0 -8px 6px -6px #999;
  -moz-box-shadow: 0 -8px 6px -6px #999;
  box-shadow: 0 -8px 6px -6px #999;
}
nav.navbar.navbar-top {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
