/*
  CSS stylesheet for configuration page (/appView/Pages/configuration.ctp)
*/
.container.main {
  display: none;
  padding-top: 56px;
  padding-bottom: 69px;
  margin-top: 0px;
  margin-bottom: 0px;
}
div.section,
form.section {
  display: block;
  /* border: 1px solid black; */
}
.section-title, .section-item {
  display: block;
  margin-bottom: 15px;
}
.section-title {
  margin-top: 15px;
}
.section-item .progress {
  margin-top: 10px;
}
